.home {
    overflow: hidden;

    .attr-list {
        height: 100%;
        margin-left: 20px;
    }

    .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .el-collapse-item__content {
        padding-bottom: 0;
    }


}

.toolbar {
    .el-input__inner {
        width: 70px;

    }

    .el-collapse {
        border: 0
    }
}

.el-tabs {
    height: 100%;
}

.el-tabs__content {
    height: 100%;
    // overflow: auto;
}


.el-tabs__nav-scroll {
    padding-left: 20px;
}

.el-tabs__header {
    margin: 0;
}

.el-tag {
    text-align: right;
}

.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
    margin-bottom: 0;
}

.el-form-item {
    margin-bottom: 0;

}

.el-input--small .el-input__inner {
    height: 30px;
    line-height: 30px;
}

.el-input__inner {
    padding: 0 5px;
}